<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todos los Equipos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/teamDashboard.css}" href="/static/css/teamDashboard.css">
</head>
<body class="bg-light py-5">
<div class="container border-bottom">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="d-flex gap-4 justify-content-between align-items-center">
            <a class="btn btn-secondary" th:href="@{/teams/form}"> + Nuevo Equipo</a>
        </div>
        <h1>Lista de Equipos</h1>
        <a class="btn btn-secondary d-flex align-items-center gap-2" th:href="@{/teams/dashboard}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M15 8a.5.5 0 0 1-.5.5H3.707l4.147 4.146a.5.5 0 0 1-.708.708l-5-5a.5.5 0 0 1 0-.708l5-5a.5.5 0 1 1 .708.708L3.707 7.5H14.5a.5.5 0 0 1 .5.5z"/>
            </svg>
            Volver al Dashboard
        </a>
    </div>
    <!-- Lista de Equipos -->
    <div class="row">
        <div class="col-md-4 mb-4" th:each="team : ${teams}">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title" th:text="${team.name}">Nombre del Equipo</h5>
                    <p class="card-text" th:text="${team.description}">Descripción del equipo...</p>
                    <a th:href="@{/teams/detail/{dni}(dni=${team.dni})}" class="btn btn-primary">Ver Detalles</a>
                    <a class="btn btn-primary" th:href="@{/teams/disableTeam/{dni}(dni=${team.dni})}"> - Eliminar Equipo</a>
                </div>
                <a class="btn btn-secondary" th:href="@{/teams/showUpdateForm/{dni}(dni=${team.dni})}">Modificar Equipo</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
